In [ ]:
import private_info.db_info as dbi
import mysql.connector
import pymysql
import sqlalchemy
import os
import pandas as pd

In [ ]:
# def connect_to_db ():
#     db = mysql.connector.connect(
#         host = dbi.hostname,  
#         user = dbi.username,    
#         password = dbi.password,
#         database = dbi.database,
#         auth_plugin='mysql_native_password'
#     )

#     print ()
#     print (db)

#     mycursor = db.cursor()
    
#     return db, mycursor

In [ ]:
# db_con, cur = connect_to_db ()

In [15]:
engine = sqlalchemy.create_engine(f'mysql+pymysql://{dbi.username}:{dbi.password}@{dbi.hostname}:{dbi.port}/{dbi.database}')

In [23]:
db_sqla_conn = engine.connect()

In [17]:
print (db_sqla_conn)

<sqlalchemy.engine.base.Connection object at 0x7f825f5b99d0>

In [18]:
files_list = []

for root, dir, files in os.walk('data'):
    for name in files:
        files_list.append(os.path.join(root,name))

In [19]:
print (files_list)

['data/asset/SPY.csv', 'data/gen/fvx.csv', 'data/gen/fed_funds.csv', 'data/gen/tnx.csv', 'data/gen/vix.csv']

In [28]:
for path in files_list:
    
    df = pd.read_csv (path)
    path_parts = path.split('/')
    t_name = path_parts[2][:-4].lower()
    
    print (t_name)
    
    # cmd = f"CREATE TABLE IF NOT EXISTS {t_name} (product_name text, price number)"
    
    # cur.execute(cmd)
    # db_con.commit()
    
    df.to_sql(t_name, engine, if_exists='fail')
    
    result = engine.execute(f"ALTER TABLE {t_name} DROP COLUMN `Unnamed: 0`;")
    print (result)

spy
fvx
fed_funds
tnx
vix